@using CashFlow.Model.Dto.Request;
@page "/incomeexpense"
@attribute [Authorize]

<h2>Ежемесячный денежный поток: @_titleTotalCashFlow</h2>

<h4>Доходы</h4>
<RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Добавить" Click="@InsertRowIncome" />
<RadzenGrid @ref="_incomesGrid" AllowFiltering="false" AllowPaging="true" PageSize="4" AllowSorting="true" EditMode="DataGridEditMode.Single"
            Data="@_incomes" TItem="IncomeDto" RowUpdate="@OnUpdateRowIncome" RowCreate="@OnCreateRowIncome">
    <Columns>
        <RadzenGridColumn Visible="false" Width="100px" TItem="IncomeDto" Property="Id" Title="Id" />
        <RadzenGridColumn Width="15px" TItem="IncomeDto" Property="OrderNumber" Title="№" />
        <RadzenGridColumn Width="200px" TItem="IncomeDto" Property="Name" Title="Название">
            <EditTemplate Context="income">
                <RadzenTextBox @bind-Value="income.Name" Style="width:100%; display: block" Name="Название" />
                <RadzenRequiredValidator Text="Обязательно к заполнению" Component="Название" Popup="true" />
            </EditTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn Width="50px" TItem="IncomeDto" Property="Price" Title="Доход">
            <Template Context="income">
                @string.Format(_provider, "{0:C}", income.Price)
            </Template>
            <FooterTemplate>
                <b>@string.Format(_provider, "{0:C}", _incomes.Sum(o => o.Price))</b>
            </FooterTemplate>
            <EditTemplate Context="income">
                <RadzenNumeric @bind-Value="income.Price" Style="width:100%" />
            </EditTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="IncomeDto" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="20px">
            <Template Context="income">
                <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => EditRowIncome(income))">
                </RadzenButton>
            </Template>
            <EditTemplate Context="income">
                <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => SaveRowIncome(income))">
                </RadzenButton>
                <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEditIncome(income))">
                </RadzenButton>
            </EditTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="IncomeDto" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="20px">
            <Template Context="income">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(args => DeleteRowIncome(income))">
                </RadzenButton>
            </Template>
            <EditTemplate Context="income">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(args => DeleteRowIncome(income))">
                </RadzenButton>
            </EditTemplate>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>

<h4>Расходы</h4>

<RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Добавить" Click="@InsertRowExpense" />
<RadzenGrid @ref="expensesGrid" AllowFiltering="false" AllowPaging="true" PageSize="4" AllowSorting="true" EditMode="DataGridEditMode.Single"
            Data="@expenses" TItem="Expense" RowUpdate="@OnUpdateRowExpense" RowCreate="@OnCreateRowExpense">
    <Columns>
        <RadzenGridColumn Visible="false" Width="100px" TItem="Expense" Property="Id" Title="Id" />
        <RadzenGridColumn Width="15px" TItem="Expense" Property="OrderNumber" Title="№" />
        <RadzenGridColumn Width="200px" TItem="Expense" Property="Name" Title="Название">
            <EditTemplate Context="expense">
                <RadzenTextBox @bind-Value="expense.Name" Style="width:100%; display: block" Name="Название" />
                <RadzenRequiredValidator Text="Обязательно к заполнению" Component="Название" Popup="true" />
            </EditTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn Width="50px" TItem="Expense" Property="Price" Title="Расход">
            <Template Context="expense">
                @string.Format(_provider, "{0:C}", expense.Price)
            </Template>
            <FooterTemplate>
                <b>@string.Format(_provider, "{0:C}", expenses.Sum(o => o.Price))</b>
            </FooterTemplate>
            <EditTemplate Context="expense">
                <RadzenNumeric @bind-Value="expense.Price" Style="width:100%" />
            </EditTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn Width="20px" TItem="Expense" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
            <Template Context="expense">
                <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => EditRowExpense(expense))">
                </RadzenButton>
            </Template>
            <EditTemplate Context="expense">
                <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => SaveRowExpense(expense))">
                </RadzenButton>
                <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEditExpense(expense))">
                </RadzenButton>
            </EditTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="Expense" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="20px">
            <Template Context="expense">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(args => DeleteRowExpense(expense))">
                </RadzenButton>
            </Template>
            <EditTemplate Context="expense">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(args => DeleteRowExpense(expense))">
                </RadzenButton>
            </EditTemplate>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>