@using CashFlow.Model.Dto.Request;
@page "/assetpassive"
@attribute [Authorize]

<h4>Активы</h4>
<RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Добавить" Click="@InsertRowAsset" />
<RadzenGrid @ref="_assetGrid" AllowFiltering="false" AllowPaging="true" PageSize="4" AllowSorting="true" EditMode="DataGridEditMode.Single"
            Data="@_assets" TItem="AssetDto" RowUpdate="@OnUpdateRowAsset" RowCreate="@OnCreateRowAsset">
    <Columns>
        <RadzenGridColumn Visible="false" Width="100px" TItem="AssetDto" Property="Id" Title="Id" />
        <RadzenGridColumn Width="15px" TItem="AssetDto" Property="OrderNumber" Title="№" />
        <RadzenGridColumn Width="200px" TItem="AssetDto" Property="Name" Title="Название">
            <EditTemplate Context="asset">
                <RadzenTextBox @bind-Value="asset.Name" Style="width:100%; display: block" Name="Название" />
                <RadzenRequiredValidator Text="Обязательно к заполнению" Component="Название" Popup="true" />
            </EditTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn Width="30px" TItem="AssetDto" Property="Quantity" Title="Кол-во">
            <EditTemplate Context="asset">
                <RadzenNumeric @bind-Value="asset.Quantity" Style="width:100%" />
            </EditTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn Width="50px" TItem="AssetDto" Property="Price" Title="Цена">
            <Template Context="asset">
                @string.Format(_provider, "{0:C}", asset.Price)
            </Template>
            <FooterTemplate>
                <b>@string.Format(_provider, "{0:C}", _assets.Sum(o => o.Price * o.Quantity))</b>
            </FooterTemplate>
            <EditTemplate Context="asset">
                <RadzenNumeric @bind-Value="asset.Price" Style="width:100%" />
            </EditTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="AssetDto" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="20px">
            <Template Context="asset">
                <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => EditRowAsset(asset))">
                </RadzenButton>
            </Template>
            <EditTemplate Context="asset">
                <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => SaveRowAsset(asset))">
                </RadzenButton>
                <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEditAsset(asset))">
                </RadzenButton>
            </EditTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="AssetDto" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="20px">
            <Template Context="asset">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(args => DeleteRowAsset(asset))">
                </RadzenButton>
            </Template>
            <EditTemplate Context="asset">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(args => DeleteRowAsset(asset))">
                </RadzenButton>
            </EditTemplate>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>

<h4>Пассивы</h4>
<RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Добавить" Click="@InsertRowPassive" />
<RadzenGrid @ref="_passiveGrid" AllowFiltering="false" AllowPaging="true" PageSize="4" AllowSorting="true" EditMode="DataGridEditMode.Single"
            Data="@_passives" TItem="PassiveDto" RowUpdate="@OnUpdateRowPassive" RowCreate="@OnCreateRowPassive">
    <Columns>
        <RadzenGridColumn Visible="false" Width="100px" TItem="PassiveDto" Property="Id" Title="Id" />
        <RadzenGridColumn Width="15px" TItem="PassiveDto" Property="OrderNumber" Title="№" />
        <RadzenGridColumn Width="200px" TItem="PassiveDto" Property="Name" Title="Название">
            <EditTemplate Context="passive">
                <RadzenTextBox @bind-Value="passive.Name" Style="width:100%; display: block" Name="Название" />
                <RadzenRequiredValidator Text="Обязательно к заполнению" Component="Название" Popup="true" />
            </EditTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn Width="50px" TItem="PassiveDto" Property="Price" Title="Цена">
            <Template Context="passive">
                @string.Format(_provider, "{0:C}", passive.Price)
            </Template>
            <FooterTemplate>
                <b>@string.Format(_provider, "{0:C}", _passives.Sum(o => o.Price))</b>
            </FooterTemplate>
            <EditTemplate Context="passive">
                <RadzenNumeric @bind-Value="passive.Price" Style="width:100%" />
            </EditTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="PassiveDto" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="20px">
            <Template Context="passive">
                <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => EditRowPassive(passive))">
                </RadzenButton>
            </Template>
            <EditTemplate Context="passive">
                <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => SaveRowPassive(passive))">
                </RadzenButton>
                <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEditPassive(passive))">
                </RadzenButton>
            </EditTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="PassiveDto" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="20px">
            <Template Context="passive">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(args => DeleteRowPassive(passive))">
                </RadzenButton>
            </Template>
            <EditTemplate Context="passive">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(args => DeleteRowPassive(passive))">
                </RadzenButton>
            </EditTemplate>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>